*{
    margin: 0;
}
p{
    margin: 0;
}
body{
    margin: 10px;
    font-family: Arial, sans-serif;
}
article{
    float: left;
    width: 300px;
}
section{
    padding: 15px;
    background: #eee;
    width: 250px;
    margin: 20px 10px;
    float: left;
    text-align: center;
    border-radius: 10px;
}
input{
    width: 25px;
    text-align: center;
    color: #555;
}
input, button{
    margin: 5px;
    border: solid 1px grey;
    border-radius: 3px;
}
input:focus, button:focus{
    outline: none;
}
button{
    background: grey;
    padding: 5px 10px;
    color: white;
}
button:active{
    background: #c1c1c1;
}
button:hover{
    opacity: 0.75;
}
span{
    visibility: hidden;
}

canvas{
    display: block;
    float: left;
    margin: 0 50px;
    border: solid 1px black;
    border-radius: 5px;
}

div {
    float: right;
    padding: 8px;
    margin-top: 595px;
    margin-right: 5px;
    border: solid 1px black;
}
div p{
    font-family: Arial, sans-serif;
    font-size: 16px;
}